.cointainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-light);
  border-radius: 10px;
  overflow: hidden;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .infoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid var(--border-light);
  }
  .categories {
    font-size: 0.9rem;
    color: var(--text-grey);
  }
  .title {
    font-size: 1rem;
    color: var(--text-black);
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: var(--secondary-color);
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .price {
      font-size: 1rem;
      color: var(--text-black);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      & > span {
        color: var(--text-grey);
        margin-right: 5px;
      }
    }
  }
}
