.cointainer {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdownContent {
  // width: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 10px;
  position: absolute;
  right: 5px;
  border-radius: 5px;
}

.langBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
  width: 17px;
  height: 17px;
}

span {
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
