.cointainerBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 250px;
  justify-content: center;
  margin: 0 10px;
}

.btn {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: var(--secondary-color);
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.logInuser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  .userbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: 0.9rem;
      margin-bottom: -5px;
    }
  }
}
